// BREAKPOINTS

$breakpoint_mid-mobile-tablet: 544px;
$breakpoint_tablet: 768px;
$breakpoint_mid-tablet-desktop: 1024px;
$breakpoint_desktop: 1280px;

// PRIMARY COLORS

$color-instock-black: #13182C;
$color-instock-indigo: #2E66E5;
$color-white: #FFFFFF;

// SECONDARY COLORS

$color-slate:#5C667E ;
$color-cloud: #BDC5D5;

// BACKGROUND COLORS

$color-graphite: #232940 ;
$color-light-grey: #F7F8F9;

// SUPPORTING COLORS

$color-green: #158463 ;
$color-green-opacity:rgb(21, 132, 99, 0.07);
$color-red: #C94515 ;
$color-red-opacity:	rgb(201, 69, 21, 0.07);
$color-indigo-opacity: rgb(46, 102, 229, 0.07);