@use '../../Styles/Partials/variables' as *;
@use '../../Styles/Partials/mixins' as*;
@use '../../Styles/Partials/fonts' as*;

.inventoryListRow{
    padding: 0 1rem 1.5rem 1.5rem;
    border-top: 2px solid $color-cloud;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &:hover{
        background-color:$color-indigo-opacity;
    }

    &__container{
        display: flex;
        flex-direction: column;  

        &--primary{
            order: 1;
            width: 50%;
        }
        &--secondary{
            order: 3;
            width: 50%;
        }
        &--tertiary{
            order: 2;
            width: 50%;
        }
        &--quaternary{
            order: 4;
            width: 50%;
        }
        &--quinary{
            order: 5;
            width: 50%;
        }
        &--senary{
            order: 6;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 1rem;
        }
    }

    &__header{
        color: $color-slate;
        font-size: .6875rem;
        font-weight: 600;
        margin: 1rem 0 4px;
    }

    &__text{
        font-size: .8125rem;
        margin: 0;

        &--primary{
            color: $color-instock-indigo;
            font-weight: 600;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    &__status{
        width: fit-content;
        height: 1.5rem;
        padding: 0 .5rem;
        border-radius: 1.25rem;
        font-weight: 600;
        line-height: 1.5rem;
        

        &--active{
            background-color:$color-green-opacity ;     
            color: $color-green;
        }

        &--inactive{
           background-color: $color-red-opacity;
           color: $color-red;
        }
    }

    &__link{
        display: flex;
        width: fit-content;
        text-decoration: none;
    }

    &__icon{     
        height: 1.3rem;
        &:hover{
            cursor:pointer
        }
    }

    &__image{
        &:hover{
            cursor:pointer
        }
    }

    @include tablet{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border-top: none;
        border-bottom: 2px solid $color-cloud;
        padding: 1.5rem 1.5rem;

        &__container{
            display: flex;
   
            &--primary{
                order: 1;
                width: 19%;  
            }

            &--secondary{
                order: 2;
                width: 15%;
            }

            &--tertiary{
                order: 3;
                width: 15%;
            }

            &--quaternary{
                order: 4;
                width: 15%;
            }

            &--quinary{
                order: 5;
                width: 15%;
            }

            &--senary{
                order: 6;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0;
                width: 9%;
            }
        }
            // new class for warehouseDetails styling

        &__warehouseDetails__container{
            &--primary{
                width: 18%;
            }
            &--secondary{
                width: 18%;
            }
            &--tertiary{
                width: 20%;
            }
            &--quaternary{
                width: 26%;
            }
            &--senary{
                width: 9%;
            }
        }

        &__header-container{
            display: none;
        }

        &__text{
            font-size: .875rem;    
        }

        &__image{
            height: 1.5rem;
        }
    }

    @include desktop {

        &__container{
            &--senary{
                width: 7%;
            }
        }
        &__status{
            width: fit-content;
            height: 1.625rem;
            line-height: 1.5rem;
        }
    }
}